html {
    font-family:sans-serif;
    padding:5px;
}
body{
    display:flex;
    flex-direction: column;
}
/*Font sizes and modification*/
h1{
    font-size:2em;
}
h2{
    font-size:1.5em;
}
/*Sections of the page*/
header{
    background-color: #4B4453;
    color: white;
    padding:20px;
}
main{
    display:flex;
}
aside{
    background-color: #B0A8B9;
    width: 15%;
    padding:20px;
}
article{
    padding:20px;
    padding-left:30px;
}
footer{
    background-color: #4B4453;
    color: white;
    padding:20px;
}
footer i{
    color: black;
}
/*Classes*/
.profile{
    width: 300px;
    border: solid 3px #C34A36;
    border-radius: 50%;
}
.contacts{
    width:100px;
}
.noBullet{
    list-style-type: none;
    padding:0px;
}
.fa-instagram:hover{
    color:red;
}
